/*-------------------------- */
/*Mixins*/
/*-------------------------- */

@mixin righArrowSetup($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
  .arrowspan {
    position: relative;
  }

  .rightarrow {
    position: absolute;
    bottom: $bottom;
    top: $top;
    right: $right;
    left: $left;
  }
}

/*-------------------------- */
/*Section What we do*/
/*-------------------------- */

.sectionwhatwedo h3 {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 140px;
  margin-bottom: 186px;
}

.sectionwhatwedo {
  @include righArrowSetup(15px, 0px, 0px, -18px);
}

.whatwedotext h5 {
  margin-bottom: 18px;
}

.whatwedotext p {
  max-width: 60ch;
  max-height: 171px;
  overflow: hidden;
  line-height: 24px;
  font-weight: 300;
}

.templetewebdesign,
.marketting {
  gap: 75px;
  margin-bottom: 200px;
  justify-content: center;
}

.seo {
  display: flex;
  gap: 75px;
  margin-bottom: 200px;
  justify-content: center;
}

.whatwedopic img {
  max-width: 416px;
  max-height: 252px;
}

@media only screen and (max-width: 766px) {
}

/*-----------------------------------------------------------*/
/* Sign up button fix*/
@media only screen and (max-width: 1120px) {
  .templetewebdesign,
  .seo,
  .marketting {
    padding-left: 20%;
    padding-right: 5px;
  }
  .arrowspan {
    display: none;
  }
}

/*-----------------------------------------------------------*/
/* Ipad, form 480px to 767px*/
@media only screen and (max-width: 767px) {
  .sectionwhatwedo h3 {
    width: 100%;
  }
}
