/*-------------------------- */
/*Mixins*/
/*-------------------------- */

@mixin righArrowSetup($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
  .arrowspan {
    position: relative;
  }

  .rightarrow {
    position: absolute;
    bottom: $bottom;
    top: $top;
    right: $right;
    left: $left;
  }
}

/*-------------------------- */
/*Section What we do*/
/*-------------------------- */

.sectionwhatwedo h3 {
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 140px;
  margin-bottom: 186px;
}

.sectionwhatwedo {
  @include righArrowSetup(15px, 0px, 0px, -18px);
}

.whatwedotext h5 {
  margin-bottom: 18px;
}

.whatwedotext p {
  max-width: 60ch;
  max-height: 171px;
  overflow: hidden;
  line-height: 24px;
  font-weight: 300;
}

.templetewebdesign,
.marketting {
  display: flex;
  gap: 75px;
  flex-direction: row-reverse;
  margin-bottom: 200px;
  justify-content: center;
}

.seo {
  display: flex;
  gap: 75px;
  margin-bottom: 200px;
  justify-content: center;
}

.whatwedopic img {
  max-width: 416px;
  max-height: 252px;
}
