.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.447);
}

.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.447);
}

.carousel-indicators {
  background-color: rgba(0, 0, 0, 0.181) !important;
}
