$basic-color: #a5a5a5;
$standard-color: #f26c4f;
$premium-color: #ffc038;

@mixin leftArrowSetup($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
  .arrowspan {
    position: relative;
  }

  .leftarrow {
    position: absolute;
    bottom: $bottom;
    top: $top;
    right: $right;
    left: $left;
  }
}

.ourpackages {
  margin-top: 80px;
  margin-bottom: 170px;
  padding: 20px 80px;

  @include leftArrowSetup(13px, 0px, 0px, -56px);
}

.paydata {
  margin: 0 auto 0 auto;
}

.paydata td {
  border-bottom: solid 1px #ffbf37;
  border-right: solid 1px #ffbf37;
}

.basic {
  color: $basic-color;
}

.standard {
  color: $standard-color;
}

.premium {
  color: $premium-color;
}

tr,
td {
  font-size: 1rem;
  padding: 18px 50px;
}

th {
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 50px;
}

td:nth-child(3) {
  border-right: 0px !important;
}

.tablebottem {
  border-bottom: 0px !important;
  font-size: 170%;
  padding-top: 65px;

  &:nth-child(1) {
    color: $basic-color;
  }

  &:nth-child(2) {
    color: $standard-color;
  }

  &:nth-child(3) {
    color: $premium-color;
  }
}

.basicorder,
.standardorder,
.premiumorder {
  padding: 19px 40px;
  margin-top: 50px;
  border: none;
  border-radius: 5px;
  font-size: 75%;
  color: #fff;
  font-weight: 500;

  &:hover {
    color: black;
    transform: scale(1.2);
  }
}

.basicorder {
  background-color: $basic-color;
}

.standardorder {
  background-color: $standard-color;
}
.premiumorder {
  background-color: $premium-color;
}

.resposivetable {
  display: none;
}

.resposivetable ul {
  margin-bottom: 70px;
  border-bottom: 1px solid $premium-color;
}

/*-----------------------------------------------------------*/
/* Sign up button fix*/
@media only screen and (max-width: 1120px) {
}

/*-----------------------------------------------------------*/
/* Ipad, form 480px to 767px*/
@media only screen and (max-width: 767px) {
  .ourpackages {
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 0px;
  }

  .paydata {
    display: none;
  }
  .arrowspan {
    display: none;
  }

  .resposivetable {
    display: block;
  }

  .responsivetabletemplete {
    padding-left: 0px;
    .basic,
    .standard,
    .premium {
      font-size: 200%;
    }

    .tablebottem {
      padding: 0px;
    }
  }
}
